<h3>Search Result</h3>  

    <% @results.each do |registracije| %>  
        
		      <tr>
		        <td><%= link_to registracije.id, registracije_path(registracije) %></td>
						<td><%= Car.find(registracije.car_id).ime_vozila %></td>
						<td><%= Car.find(registracije.car_id).ime_vlasnika %></td>
						<td><%= Car.find(registracije.car_id).telefon %></td>
				
				
		        <td><%= registracije.car_exp_date %></td>
						<td>
		       <%   @datum = registracije.car_exp_date.split("/")
		        @dan = @datum[1].to_i
		        @mjesec = @datum[0].to_i
		        @vrijemePrije = DateTime.civil(2020, @mjesec, @dan, 0, 0, 0, 0)
		    @dana = (@vrijemePrije.to_date - Time.now.to_date).to_i
		    if @dana > 0 && @dana < 10 
    
		    %>
				istice za <%=@dana%> dana
				<%end%>
		
		      </td>
		      </tr>
				
				
    <% end %>