<%- model_class = Registracije -%>
<div class="page-header">   
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:car_id) %></th>
      <th><%= model_class.human_attribute_name(:car_exp_date) %></th>
      
	  
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @registracijes.each do |registracije| %>
      <tr>
        <td><%= link_to registracije.id, registracije_path(registracije) %></td>

        <td><%= Car.find(registracije.car_id).ime_vozila %></td>
        <td><%= registracije.car_exp_date %></td>

   
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      registracije_path(registracije), :class => 'btn btn-secondary btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_registracije_path(registracije), :class => 'btn btn-secondary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      registracije_path(registracije),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-outline-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


