<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  
	  <div class="container">
	  <div class="header">
		  <% for menu in @menu do %>
		  	<a href="/<%= menu%>"><%= menu%></a> &nbsp;
		  <%end%>
		  
		  |<% if !current_user %> <a href="/users/sign_in"> Sign In</a> <a href="/users/sign_up"> Register </a> 
		  <%else%>
		  Selam Alejk <%=current_user.id%> <%= button_to "logout", destroy_user_session_path, method: :delete  %>
		  <% end %>
	  </div>
	  <p class = "notice" ><%= notice %> </p>
	  <p class = "alert" ><%= alert %></p>
	  
      <%= yield %>
    </div>
  </body>
</html>
<script>
	$(function(){
		$('.signout').click(function(){
			$.ajax({
			    url: '/users/sign_out',
			    type: 'DELETE',
			    success: function(result) {
			       alert('uspjesno')
			    }
			});
		})
	})
</script>